build_info.json

^bin/dep/all
bin/*
.cproject
.project
.pydevproject
.settings/*
.vscode/*
*~
tools/make/config.mk
cflie.*
version.c
tags
*cffirmware*.so
cffirmware.py

cf2.*
tag.*
bolt.*
*.gch

current_platform.mk

/generated/**
**/__pycache__/**
**/*.pyc

bindings/build/*
bindings/cffirmware_wrap.c

docs/.jekyll-metadata
docs/.jekyll-cache

docs/api/logs.md_raw
docs/api/params.md_raw
docs/api/log_param_doc.json
docs/api

build/

**/*.o
**/*.cmd
**/*.a
*.elf
src/utils/src/version_gen.c

# Windows default autosave extension
*.asv

# OSX / *nix default autosave extension
*.m~

# Compiled MEX binaries (all platforms)
*.mex*

# Packaged app and toolbox files
*.mlappinstall
*.mltbx

# Generated helpsearch folders
helpsearch*/

# Simulink code generation folders
slprj/
sccprj/
crazyflie_ert_rtw/
generate_code/src/

# Matlab code generation folders
codegen/

# Simulink autosave extension
*.autosave

# Simulink cache files
*.slxc

# Octave session info
octave-workspace
